.header {
    grid-area: header;
    background-color: #428fcb;
    height: 80px;
}

.logo {
    width: 80px;
    float: left;
}
.header h2{
    color: white;
    text-align: center;
}
.loginblock{
    float: right;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-inline: 20px;
}