.navbar {
    background-color: #428fcb;
    padding: 15px;
    height: 100%;
    border-top: 2px solid white;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.link {
    color: white;
    cursor: pointer;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    display: block; /* чтобы кликабельная область занимала всю ширину */
}

.active {
    font-size: 25px;
    color:green;
}
