.img1 {
    width: 100%;
    max-height: 650px;
    object-fit: cover; /* чтобы изображение не искажалось */
    border-radius: 8px; /* по желанию — скруглённые углы */
}

.profile {
    padding: 20px;
    text-align: center;
}
h1{
    color: #428fcb;
}
.textarea{
    width: 80%;
    height: 400px;
    padding: 10px;
}
.btn{
    width: 40%;
    height: 50px;
    background-color: #428fcb;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 3%;
}